<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Dodavanje sale</title>
</head>
<body>
	<div th:fragment="centralniDiv"></div>
	<form method="post" action="Sala/Create">
		<table class="forma">
			<caption>Dodavanje sale</caption>
			<tr><th>Oznaka:</th><td><input type="text" name="oznaka"/></td></tr>
			<tr><th>Kapacitet:</th><td><input type="number" name="kapacitet"/></td></tr>
			
					<tr><th></th><td><input type="submit" value="Dodaj salu"/></td></tr>
		</table>
	</form>
	<p class="greska" th:text="${poruka}"></p>
	<ul>
			<li><a href="Treninzi" >Povratak na sve treninga</a></li>
		</ul>
</body>
</html>