<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	
</head>
<body>
	<div th:fragment="centralniDiv"></div>
	<form method="post" action="Termini/Create">
		<table class="forma">
			<caption>Dodavanje novog termina</caption>
			
			<tr>
					<th>Trening:</th>
					<td>
					<select name="treningId">
 						   <option  th:each="itTrening: ${treninzi}"  th:value="${itTrening.id}" th:text="${itTrening.naziv}"></option>
 
					</select>
						
					</td>
			</tr>
			<tr>
					<th>Sala:</th>
					<td>
					<select name="salaId">
 						   <option th:each="itSala: ${sale}"  th:value="${itSala.id}" th:text="${itSala.oznaka}"></option>
 
					</select>
						
					</td>
			</tr>

				<tr><th>Datum odrzavanja termina:</th><td><input type="date" name="datumTermina"/></td></tr>
			<tr><th>Vreme odrzavanja termina:</th><td><input type="time" name="vremeTermina"/></td></tr>
			
					<tr><th></th><td><input type="submit" value="Dodaj novi termin"/></td></tr>
		</table>
	</form>
	<p class="greska" th:text="${poruka}"></p>
	<ul>
			<li><a href="Treninzi" >Povratak na sve treninga</a></li>
		</ul>
</body>
</html>