<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Dodavanje treninga</title>
</head>
<body>
	<div th:fragment="centralniDiv"></div>
	<form method="post" action="Treninzi/Create">
		<table class="forma">
			<caption>Dodavanje treninga</caption>
			<tr><th>Naziv:</th><td><input type="text" name="naziv"/></td></tr>
			<tr><th>Treneri:</th><td><input type="text" name="treneri"/></td></tr>
			<tr><th>Kratak opis:</th><td><input type="text" name="kratakOpis"/></td></tr>
			<tr><th>Cena</th><td><input type="number" name="cena"/></td></tr>
			<tr><th>Trajanje treninga:</th><td><input type="number" name="trajanjeTreninga"/></td></tr>
			
			<tr>
					<th>Slika:</th>
					<td>
						<th:block th:each="itSlika: ${slike}">
							<input type="checkbox" name="slikaId" th:value="${itSlika.id}"/><img th:src="${itSlika.imagePath}"><br>
						</th:block>
					</td>
			</tr>
			<tr>
					<th>Tipovi treninga:</th>
					<td>
						<th:block th:each="itTipTreninga: ${tipoviTreninga}">
							<input type="checkbox" name="tipId" th:value="${itTipTreninga.id}"/><span th:text="${itTipTreninga.naziv}"></span><br>
						</th:block>
					</td>
				</tr>
		
			<tr>
					<th> Vrsta treninga:</th>
					<td>
						<input type="radio" name="vrstaTreninga" value="pojedinacni" checked/><span>pojedinacni</span>&nbsp;
						<input type="radio" name="vrstaTreninga" value="grupni"/><span>grupni</span>
					</td>
				</tr>
				<tr>
					<th>Nivo treninga</th>
					<td>
						<input type="radio" name="nivoTreninga" value="amaterski" checked/><span>amaterski</span>&nbsp;
						<input type="radio" name="nivoTreninga" value="srednji"/><span>srednji</span>
						<input type="radio" name="nivoTreninga" value="napredni"/><span>napredni</span>
						
					</td>
				</tr>
					<tr><th></th><td><input type="submit" value="Dodaj knjigu"/></td></tr>
		</table>
	</form>
	<p class="greska" th:text="${poruka}"></p>
	<ul>
			<li><a href="Treninzi" >Povratak na sve treninga</a></li>
		</ul>
</body>
</html>