<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Treninzi</title>
</head>
<body>
	<div th:fragment="centralniDiv">
	<form method="post" action="ClanskaKarta/Edit">
		<input type="hidden" name="id" th:value="${clanskaKarta.id}"/>
		<table class="forma">
			<caption>Detalji korisnika:</caption>
			<tr><th>Korisnicko ime:</th><td th:text="${clanskaKarta.korisnik.korisnickoIme}"></td></tr>
			<tr><th >Broj poena:</th><td  ><input type="number" name="brojPoena" th:value="${clanskaKarta.brojPoena}"></input></td></tr>
			<tr><th >Popust:</th><td ><input type="text" name="popust" th:value="${clanskaKarta.popust}"></input></td></tr>
			<tr><th >Odobren:</th><td ><input type="checkbox" name="odobren" th:checked="${clanskaKarta.odobren}" th:disabled="${clanskaKarta.odobren == true}" /></td></tr>
			
			<tr><th></th><td><input value="odobri karticu" type="submit"  /></td></tr>
			</table>
	</form>
	</div>
	<ul>
		<li><a href="ClanskaKarta/SveKartice">Povratak na sve kartice</a></li>
	</ul>
</body>

</html>