<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Treninzi</title>
</head>
<body>
	<ul>

		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici">Korisnici</a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici/PrikazKomentaraAdmin">Komentari</a></li>
	</ul>
	
	
	<div th:fragment="centralniDiv">
		<form method="get">
			<table id="tabela">
				<caption >Komentari korisnika:</caption>
				<tr>
					<th>R. br</th>
					<th>Korisnicko ime:</th>
					<th>Naziv treninga:</th>
					<th>Opis: </th>
					<th>Datum:</th>
					<th >Ocena:</th>
					<th >Status:</th>
					<th>Anoniman:</th>
				
					<th></th>
					
				</tr>
				
				<tr th:each="itKomentar,status:${komentariAdmin}">
					<td class="broj" th:text="${status.index + 1}"></td>
					<td th:text="${itKomentar.autorKomentara.korisnickoIme}"></td>
					<td th:text="${itKomentar.komentarisanTrening.naziv}"></td>
					<td><a th:href="|Komentari/KomentarAdmin?id=${itKomentar.id}|" th:text="${itKomentar.id}"></a></td>
					
					
					<td th:text="${#dates.format(itKomentar.datumKomentara, 'dd-MMM-yyyy')}"></td>
					<td th:text="${itKomentar.ocena}"></td>
					<td th:text="${itKomentar.status}"></td>
					
					<td th:text="${itKomentar.anoniman}? 'jeste':'nije' "></td>
					
					
					
				</tr>
			</table>
		</form>
		<ul>
		<li><a href="Treninzi">Povratak na sve treninge</a></li>
	</ul>
	
	
	</div>





</body>



</html>