<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Knjige</title>
</head>
<body>
	
	<ul>

		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici" th:text="#{knjige.korisnici}"></a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici/PrikazKomentaraAdmin">Prikaz komentara</a></li>
	</ul>
	<div th:fragment="centralniDiv">
		<form method="post" action="Komentari/EditKomentaraAdmin">
	

		
			<table id="tabela">
			
				<caption>Komentar</caption>
				
				<tr><th>Id komentara</th><td><input type="number" name="id"/></td></tr>
				
				<tr><th>Tekst komentara </th><td><input type="text"  name="tekst" readonly/></td></tr>
				
				<tr><th>Ocena komentara</th><td><input type="text" min="1" max="5"  name="ocena" readonly/></td></tr>
				
				<tr><th >Datum komentarisanja</th><td><input type="text"  name="datumKomentara" readonly/></td></tr>
				
				<tr><th >Komentarisan trening</th><td><input type="text"  name="komentarisanTrening" readonly/></td></tr>
				<tr><th>Autor komentara</th><td><input type="text"  name="autorKomentara" readonly/></td></tr>
				
				<tr><th>Anoniman:</th><td><input type="text"  name="anoniman"  id="anonimanChecked"  readonly/></td></tr>
				<tr><th>Status:</th><td>
				
					<select name="status">
							<option value="nije odobren">nije odobren</option>
							<option value="na cekanju">na cekanju</option>
							
							<option value="odobren">odobren</option>
						</select>
				</td></tr>
				
				
				
				
			
				
				<tr><th></th><td><input type="submit" value="Izmeni komentar"/></td></tr>
			</table>
	</form>
	<ul>
	<li><a href="Komentari">Nazad na sve komentare</a></li>
	<li><a href="Treninzi">Povratak na sve treninge</a></li>
	</ul>
	</div>
	<p class="greska"></p>
	
	  <script src="js/jquery.min.js"></script>
     <script src="js/jquery-3.0.0.min.js"></script>
	
	<script src="js/komentarAdmin.js" type="text/javascript"></script>
	

</body>
</html>