<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Korisnici</title>
</head>
<body>
	<h2>Korisnici</h2>
	
	<div th:fragment="centralniDiv" class="tabela">
		<form method="get">
			<table class="sortable" id="tabela" >
				<caption >Korisnici</caption>
				<tr>
	
					<th><input type="search" name="korisnickoIme" th:value="${param.korisnickoIme}?: null"/>Korisnicko ime:</th>
					<th>Datum registracije:</th>
					<th>Administrator:<input type="checkbox" name="administrator" th:checked="${param.administrator != null}"/></th>
					<th><input type="submit" value="Pretraži"/></th>
				
					
					
				</tr>
				<tr th:each="itKorisnik, status: ${korisnici}" class="item">
					
					<td><a th:href="|Korisnik/Details?korisnickoIme=${itKorisnik.korisnickoIme}|" th:text="${itKorisnik.korisnickoIme}"></a></td>
					<td th:text="${itKorisnik.datumRegistracije}"></td>
					<td th:text="${itKorisnik.administrator}? 'admin': 'korisnik'"></td>
					
				</tr>
			</table>
		</form>
	
	<ul>
		<li><a href="Treninzi">Povratak na sve treninge</a></li>
	</ul>
	</div>
</body>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>


</html>