<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Treninzi</title>
</head>
<body>
	<div th:fragment="centralniDiv">
	<form method="post" action="Korisnik/Edit">
		<input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/>
		<table class="forma">
			<caption>Detalji korisnika:</caption>
			<tr><th>Korisnicko ime:</th><td th:text="${korisnik.korisnickoIme}"></td></tr>
			<tr><th >Datum registracije:</th><td  th:text="${korisnik.datumRegistracije}"/></td></tr>
			<tr th:if="${session.prijavljeniKorisnik.administrator}"><th>Administrator:</th><td><input type="checkbox" name="administrator" th:checked="${korisnik.administrator}" /></td></tr>
			
			<tr th:if="${session.prijavljeniKorisnik.administrator}"><th>Blokiran:</th><td><input type="checkbox" name="block" th:checked="${korisnik.block}" th:disabled="${korisnik.administrator == true}"/></td></tr>
			
			<tr><th></th><td><input value="izmeni korisnika" type="submit"  /></td></tr>
			</table>
	</form>
	</div>
	<ul>
		<li><a href="Korisnik">Povratak na sve korisnike</a></li>
	</ul>
</body>

</html>