<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Knjige</title>
</head>
<body>

	
	
	<div th:fragment="centralniDiv">
		<form method="get" action="Korpa/Details">
			<table id="tabela">
				<caption th:text="#{korpa.tekst}"></caption>
				<tr>
					<th >r. br.</th>
					<th >Naziv:</th>
					<th >Treneri:</th>
					<th >Tip treninga: </th>
					<th>Datum odrzavanja: </th>
					
					<th>Cena: </th>
				
					
				
				
					<th></th>
					
				</tr>
					<tr th:each="itTermin,status:${session.izabraniTreninziKorisnik}">
					<td class="broj" th:text="${status.index+1}"></td>
					<td><a th:href="|Treninzi/Details?id=${itTermin.trening.id}|" th:text="${itTermin.trening.naziv}" name="naziv"></a></td>
					<td th:text="${itTermin.trening.treneri}"></td>
					<td  >
						<select>
							<option  th:each="itTip:${tipovi}"  th:value="${itTip.id}" th:text="${itTip.naziv}"></option>
 
						</select>
					</td>
					<td th:text="${itTermin.datum}"></td>
					<td th:text="${itTermin.trening.cena}"></td>
					
					
					</table>
				</form>
		
		</div>
		
			
			
			
				<form method="post" action="Korpa/Delete" >
		
				<div    >
	
    	
				<ul>
					
			
					<li name="line_items" th:each="itTermin,status: ${session.izabraniTreninziKorisnik}">
					
					<span >Da li ste sigurni da zelite da obrisete trening?</span>&nbsp;&nbsp;&nbsp;&nbsp;
					
					<span><a th:href="|Treninzi/Details?id=${itTermin.trening.id}|" th:text="${itTermin.trening.naziv}" name="naziv"></a></span>
				
					<span><input type="hidden" th:value="${itTermin.id}" name="id"/></span>
					
					<input type="submit" value="Obrisi trening"></input>
					<br>
					<br>
					
					</li>
				 </ul>		
				
		</div>
		
		
		</form>
	
						<form method="post" action="Korpa/Kupi" >
		
				<div    >
	
    	
				<ul>
					
			
					<li name="line_items" th:each="itTermin,status: ${session.izabraniTreninziKorisnik}">
					
					<span >Da li zelite da kupite trening?</span>&nbsp;&nbsp;&nbsp;&nbsp;
					
					<span><a th:href="|Treninzi/Details?id=${itTermin.trening.id}|" th:text="${itTermin.trening.naziv}" name="naziv"></a></span>
				
					<span><input type="hidden" th:value="${itTermin.id}" name="id"/></span>
					<span><input type="hidden" th:value="${session.prijavljeniKorisnik.id}" name="korisnikId"/></span>
					
					<input type="submit" value="Kupi trening"></input>
					<br>
					<br>
					
					</li>
				 </ul>		
				
		</div>
		
		
		</form>
	
			
	
		<ul>
		<li><a href="Treninzi" value="Povratak na sve treninge"></a></li>
	</ul>
</body>
</html>