
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>

<title>Profil korisnika</title>
</head>
<body>
<div th:fragment="centralniDiv">
	<form method="post" action="ClanskaKarta/Create">
		<input type="hidden" value="${session.prijavljeniKorisnik.id}"></input>
		<input type="submit" value="Podnesi zahtev za karticu"></input>
			 </form>
		</div>
		<p class="error" th:text="${poruka}"></p>
		<ul>
		<li><a href="Treninzi">Povratak na sve treninge</a></li>
	</ul>
</body>
</html>