<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Prijava</title>
</head>
<body>
	<h2>Strong gym</h2>
	<ul>
		<li><a href="">početna</a></li>
	</ul>
	<table class="korisnik">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">registracija</a></li>
					<li><a href="login">prijava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<ul>
		<li><a href="Treninzi">treninzi</a></li>
		
	</ul>
	<div th:fragment="centralniDiv">
		<form method="post" action="Korisnik/Login">
			<table class="forma">
				<caption>Prijava</caption>
				<tr><th>korisničko ime:</th><td><input type="text" name="korisnickoIme"/></td></tr>
				<tr><th>lozinka:</th><td><input type="password" name="lozinka"/></td></tr>
				<tr><th></th><td><input type="submit" value="Prijava"/></td></tr>
			</table>
		</form>
		<p class="greska" th:text="${error}"></p>
	</div>
</body>
</html>