
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>

<title>Profil korisnika</title>
</head>
<body>
<div th:fragment="centralniDiv">
	<form method="post" action="Korisnik/EditObican">
			<table class="forma">
			<caption>Ulogovani korisnik:</caption>
			<tr><th>Korisnicko ime:</th><td><input type="text"  th:value="${korisnik.korisnickoIme}" name="korisnickoIme"/></td></tr>
			<tr><th>Email:</th><td ><input  type="text" th:value="${korisnik.email}"  name="email"/></td></tr>
			<tr><th>Ime:</th><td><input  type="text" th:value="${korisnik.ime}" name="ime"/></td></tr>
			<tr><th >Prezime:</th><td><input  type="text"  th:value="${korisnik.prezime}" name="prezime"/></td></tr>
			<tr><th >Adresa:</th><td><input  type="text"  th:value="${korisnik.adresa}" name="adresa"/></td></tr>
			<tr><th >Broj telefona</th><td><input  type="text" th:value="${korisnik.brojTelefona}" name="broj"/></td></tr>
			<tr><th >Datum registracije:</th><td><input  type="date" th:value="${korisnik.datumRegistracije}"  name="datumRegistracije"/></td></tr>
			<tr><th>Datum rodjenja:</th><td><input  type="date" th:value="${korisnik.datumRodjenja}" name="datumRodjenja"/></td></tr>
			<tr><th>Lozinka:</th><td><input  type="password" name="lozinka"/></td></tr>
			<tr><th>Ponovljena lozinka:</th><td><input type="password" name="ponovljenaLozinka"/></td></tr>
			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>
		</div>
		<div>
		<table class="forma">
			<caption>Detalji clanske kartice:</caption>
			<tr><th>Korisnicko ime:</th><td th:text="${clanskaKarta.korisnik.korisnickoIme}"></td></tr>
			<tr><th >Broj poena:</th><td  th:text="${clanskaKarta.brojPoena}"></td></tr>
			<tr><th >Popust:</th><td th:text="${clanskaKarta.popust}"></td></tr>
			
			
			</table>
		<table class="forma">
			<caption>Lista zelja</caption>
				<tr>

					<th onclick="sortTable(1)">Naziv treninga:</th>
					<th onclick="sortTable(0)">Cena:</th>
			
					<th></th>
				</tr>
				
				<tr th:each="itZelje, status: ${zelje}">
					<td th:text="${itZelje.trening.naziv}"></td>
					<td th:text="${itZelje.trening.cena}"></td>
					<td><form method="post" action="Korisnik/DeleteTermin">
		<input type="hidden" name="terminId" th:value="${itZelje.trening.id}"/>
		<input  type="submit" th:value="Obrisi "/></form></td>
			
		
		
		
		</table>
		
		<table class="forma">
			<caption>Kupljeni treninzi</caption>
				<tr>
					<th onclick="sortTable(0)">Cena treninga:</th>
					<th onclick="sortTable(1)">Datum treninga:</th>
					<th></th>
				</tr>
				
				<tr th:each="itTermin, status: ${terminKorisnik}">
					<td th:text="${itTermin.termin.trening.cena}"></td>
					<td th:text="${itTermin.termin.datum}"></td>
					
					<td><form method="post" action="Korisnik/DeleteZakazan">
		<input type="hidden" name="terminId" th:value="${itTermin.termin.id}"/>
		<input type="hidden" name="korisnikId" th:value="${itTermin.korisnik.id}"/>
		<input  type="submit" th:value="Obrisi"/></form></td>
			
		
		
		
		</table>
		<p class="greska" th:text="${poruka}"></p>
		
		
	</form>
	
		</div>
		<ul>
		<li><a href="Treninzi">Povratak na sve treninge</a></li>
	</ul>
</body>
</html>