<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Registracija</title>
</head>
<body>
	<h2>Strong gym</h2>
	<ul>
		<li><a href="">početna</a></li>
	</ul>
	<table class="korisnik">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">registracija</a></li>
					<li><a href="prijava.html">prijava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<ul>
		<li><a href="Treninzi">treninzi</a></li>
	
	</ul>
	<form method="post" action="Korisnik/Register">
		<table class="forma">
			<caption>Registracija</caption>
			<tr><th>korisničko ime:</th><td><input type="text" name="korisnickoIme"/></td></tr>
			<tr><th>lozinka:</th><td><input type="password" name="lozinka"/></td></tr>
			<tr><th>ponovljena lozinka:</th><td><input type="password" name="ponovljenaLozinka"/></td></tr>
			<tr><th>email:</th><td><input type="text" name="email"/></td></tr>
			<tr><th>ime:</th><td><input type="text" name="ime"/></td></tr>
			<tr><th>prezime:</th><td><input type="text" name="prezime"/></td></tr>
			<tr><th>datum rodjenja:</th><td><input type="date" name="datumRodjenja"/></td></tr>
			<tr><th>adresa:</th><td><input type="text" name="adresa"/></td></tr>
			<tr><th>broj telefona:</th><td><input type="text" name="brojTelefona"/></td></tr>
			
			<tr><th></th><td><input type="submit" value="Registracija"/></td></tr>
		</table>
	</form>
	<p class="greska" th:text="${poruka}"></p>
</body>
</html>