<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>

		<title>Sala</title>
</head>
<body>

	<div>
	<form method="post" action="Sala/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
		<input type="hidden" name="id" th:value="${sala.id}"/>
		<table class="forma">
			<caption>Sala</caption>
			<tr><th> Oznaka sale:</th><td><input type="text" th:value="${sala.oznaka}" name="oznaka" disabled/></td></tr>
			<tr><th>Kapacitet:</th><td ><input type="number"  th:value="${sala.kapacitet}"  name="kapacitet"/></td></tr>
			
			<tr><th></th><td><input type="submit" th:value="Izmeni"/></td></tr>
		
		
		</table>
		
		<p class="greska" th:text="${poruka}"></p>
		
		
	</form>
	<form method="post" action="Sala/Delete"th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
		<input type="hidden" name="id" th:value="${sala.id}"/>
		<input type="submit" th:value="Obrisi"></input>
		
		</form>
	
	
	
</div>
</body>
</html>