<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Korisnici</title>
</head>
<body>
	<h2>Sale</h2>
	
	<div th:fragment="centralniDiv" class="tabela">
		<form method="get">
			<table class="sortable" id="tabela" >
				<caption >Sale</caption>
				<tr>
					
					<th><input type="search" name="oznaka" th:value="${param.oznaka}?: null"/>Oznaka:</th>
					<th>Kapacitet sale:</th>
					<th><input type="submit" value="Pretraži"/></th>
				
					
					
				</tr>
				<tr th:each="itSala, status: ${sale}" class="item">
					
					<td><a th:href="|Sala/Details?id=${itSala.id}|" th:text="${itSala.oznaka}"></a></td>
					<td th:text="${itSala.kapacitet}"></td>
					
				</tr>
			</table>
		</form>
	
	<ul>
	
		
		<li th:if="${session.prijavljeniKorisnik !=null and session.prijavljeniKorisnik.administrator}"><a href="Sala/Create">Dodavanje nove sale</a></li>
	
		<li><a href="Treninzi">Povratak na sve treninge</a></li>
	</ul>
	</div>
</body>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>


</html>