<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Korisnici</title>
</head>
<body>
	<h2>Sale</h2>
	
	<div th:fragment="centralniDiv" class="tabela">
		<form method="get" action="ClanskaKarta/SveKartice">
			<table class="sortable" id="tabela" >
				<caption >Clanske kartice </caption>
				<tr>
					<td>rb.</td>
					<th>Korisnik:</th>
					<th>Odobren:</th>
					
					
					
				</tr>
				<tr th:each="itClanska, status: ${clanskeKarte}" class="item">
					<td><a th:href="|ClanskaKarta/Details?id=${itClanska.id}|" th:text="${status.index + 1}"></a></td>
					<td th:text="${itClanska.korisnik.korisnickoIme}"></td>
					<td th:text="${itClanska.odobren}"></td>
					
				</tr>
			</table>
		</form>
	
	<ul>
	
		
	
		<li><a href="Treninzi">Povratak na sve treninge</a></li>
	</ul>
	</div>
</body>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>


</html>