<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base href="">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/basePage.css"/>
		<title>Treninzi</title>
</head>
<body>
<header class="zaglavlje">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		 <ul  id="locales" name="locales" th:with="language=${#locale.language}">
                      
                        <li style="display:none">
                            <span th:text="${#locale}"></span>
							<span th:text="#{lang.change}"></span>
                        </li>
                        
                        <li>
                            <a  th:text="#{lang.eng}" href="Internacionalizacija/promeniNaEngleski" ></a>
                        </li>
                        
                        <li>
                            <a  th:text="#{lang.sr}" href="Internacionalizacija/promeniNaSrpski"></a>
                        </li>
                     </ul>
                     
                    
	</header>
<ul>
		<li  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnik" th:text="#{treninzi.korisnici}"></a></li>
		<li th:if="${session.prijavljeniKorisnik != null and !session.prijavljeniKorisnik.administrator}"><a th:href="|Korisnik/Profil?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="#{treninzi.profil}"></a></li>
		<li  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Sala" th:text="#{treninzi.sale}"></a></li>
		
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Komentari" th:text="#{treninzi.komentari}"></a></li>
		
		<li  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Termini/Create" th:text="#{treninzi.termini}"></a></li>
		<li  th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="ClanskaKarta/SveKartice" th:text="#{treninzi.kartice}"></a></li>
		
		  <li th:if="${session.prijavljeniKorisnik != null and !session.prijavljeniKorisnik.administrator}"><a th:href="|Zelje?korisnikId=${session.prijavljeniKorisnik.id}|" th:text="#{treninzi.zelje}"></a></li>
		<li th:if="${session.prijavljeniKorisnik != null and !session.prijavljeniKorisnik.administrator}"><a th:href="ClanskaKarta" th:text="#{treninzi.zahtev}"></a></li>
		
		<li th:if="${session.prijavljeniKorisnik != null}"><a href="Korisnik/Logout" th:text="#{treninzi.odjava}"></a></li>
		
	</ul>
	<div th:fragment="centralniDiv">
	<form method="get">
			<table id="tabela">
				<caption>Treninzi</caption>
				<tr>
					<th onclick="sortTable(0)" th:text="#{treninzi.slika}"></th>
					<th onclick="sortTable(1)" th:text="#{treninzi.naziv}"></th>
					<th onclick="sortTable(0)" th:text="#{treninzi.tip}"></th>
					<th onclick="sortTable(1)" th:text="#{treninzi.cena}"></th>
					<th onclick="sortTable(0)" th:text="#{treninzi.treneri}"></th>
					<th onclick="sortTable(1)" th:text="#{treninzi.vrsta}"></th>
					<th onclick="sortTable(0)" th:text="#{treninzi.nivo}"></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th><input type="search" name="naziv" th:value="${param.naziv}?: null"/></th>
					<th>
						<select name="tipId">
							<option value="" th:text="#{treninzi.odaberi}">Odaberi</option>
							<option th:each="itTipTreninga: ${tipTreninga}" th:value="${itTipTreninga.id}" th:text="${itTipTreninga.naziv}" th:selected="${#strings.equals(itTipTreninga.id, param.tipId)}"></option>
						</select>
					</th>
					<th>
						<span th:text="#{treninzi.od}"></span><input type="number" min="0" th:value="${param.cenaOd}?: '0'" name="cenaOd"/><br/>
						<span th:text="#{treninzi.do}"></span><input type="number" min="0" th:value="${param.cenaDo}?: '10000'" name="cenaDo"/>
					</th>
			<th><input type="search" name="treneri" th:value="${param.treneri}?: null"/></th>	
					<th><input type="search" name="vrstaTreninga" th:value="${param.vrstaTreninga}?: null"/></th>
					<th><input type="search" name="nivoTreninga" th:value="${param.nivoTreninga}?: null"/></th>
					<th><input type="submit" th:value="#{treninzi.pretrazi}"/></th>
				</tr>
				<tr th:each="itTrening, status: ${treninzi}">
					<td th:each="itSlika:${itTrening.imagePath}"><img th:src="@{${itSlika.imagePath}}"></td>
					<td><a th:href="|Treninzi/Details?id=${itTrening.id}|" th:text="${itTrening.naziv}"></a></td>
					<td></td>
					<td th:text="${itTrening.cena}"></td>
				</tr>
			</table>
		</form>
	</div>
	
	
	
</body>
</html>