<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	
		<title>Registracija</title>
</head>
<body>

	<div>
	<form method="post" action="Treninzi/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
		<input type="hidden" name="id" th:value="${trening.id}"/>
		<table class="forma">
			<caption>Trening</caption>
			<tr><th> Naziv treninga:</th><td><input type="text" th:value="${trening.naziv}" name="naziv"/></td></tr>
			<tr><th>Treneri:</th><td ><input type="text"  th:value="${trening.treneri}"  name="treneri"/></td></tr>
			<tr><th>Opis:</th><td><input type="text" th:value="${trening.kratakOpis}" name="kratakOpis"/></td></tr>
			<tr><th>Cena:</th><td><input type="number"  th:value="${trening.cena}" name="cena"/></td></tr>
			<tr><th>Trajanje treninga:</th><td><input type="number" th:value="${trening.trajanjeTreninga}" name="trajanjeTreninga"/></td></tr>
			<tr>
					<th>Tip treninga:</th>
					<td>
						<th:block th:each="itTipTreninga: ${tipoviTreninga}">
							<input type="checkbox" name="tipId" th:value="${itTipTreninga.id}" th:checked="${#lists.contains(trening.tipTreninga, itTipTreninga)}"/><span th:text="${itTipTreninga.naziv}"></span><br>
							
						</th:block>
					</td>
				</tr>
				
			<tr>
			<th>Slika</th>
					<td>
						<th:block th:each="slika: ${slike}">
							<input type="checkbox" name="slikaId" th:value="${slika.id}" th:checked="${#strings.contains(#strings.toString(#lists.toList(trening.imagePath)),#strings.toString(slika.imagePath))}"><img th:src="@{${slika.imagePath}}"/><br>
						</th:block>
					</td>
			</tr>
			<tr>
				<th >Vrsta treninga:</th>
				<td>
					<input type="radio" name="vrstaTreninga" value="pojedinacni" th:checked="${#strings.equals(trening.vrstaTreninga,'pojedinacni')}"/><span>pojedinacni</span>&nbsp;
					<input type="radio" name="vrstaTreninga" value="grupni" th:checked="${#strings.equals(trening.vrstaTreninga,'grupni')}"/><span>grupni</span>
				</td>
			</tr>
			<tr>
					<th>Nivo treninga:</th>
					<td>
						<input type="radio" name="nivoTreninga" value="amaterski" th:checked="${#strings.equals(trening.nivoTreninga, 'amaterski')}"/><span>amaterski</span>&nbsp;
						<input type="radio" name="nivoTreninga" value="srednji" th:checked="${#strings.equals(trening.nivoTreninga, 'srednji')}"/><span>srednji</span>
						<input type="radio" name="nivoTreninga" value="napredni" th:checked="${#strings.equals(trening.nivoTreninga, 'napredni')}"/><span>napredni</span>
											
					</td>
				</tr>
			
			<tr><th></th><td><input type="submit" th:value="Izmeni"/></td></tr>
		
		
		</table>
		
		<p class="greska" th:text="${poruka}"></p>
		
		
	</form>
	
	
	<table class="forma" th:if="${session.prijavljeniKorisnik==null or not session.prijavljeniKorisnik.administrator}">
			<caption>Trening</caption>
			<tr><th>Naziv</th><td th:text="${trening.naziv}"></td></tr>
			<tr><th>Kratak opis</th><td th:text="${trening.kratakOpis}"></td></tr>
			<tr><th>Treneri</th><td th:text="${trening.treneri}"></td></tr>
			<tr><th>Cena</th><td th:text="${trening.cena}"></td></tr>
			<tr><th>Vrsta treninga</th><td th:text="${trening.vrstaTreninga}"></td></tr>
			<tr><th>Nivo treninga</th><td th:text="${trening.nivoTreninga}"></td></tr>
			<tr><th>Trajanje treninga:</th><td th:text="${trening.trajanjeTreninga}"></td></tr>
			
			<tr>
				<th>Slika</th>
				<td>
					<ul>
						<li th:each="itSlika: ${trening.imagePath}"><img th:src="@{${itSlika.imagePath}}"></li>
					</ul>
				</td>
			</tr>
			<tr>
					<th>Tip treninga</th>
					<td>
						<th:block th:each="itTipTreninga: ${tipoviTreninga}">
							<input type="checkbox" name="id" th:value="${itTipTreninga.id}" th:checked="${#lists.contains(trening.tipTreninga, itTipTreninga)}"/><span th:text="${itTipTreninga.naziv}"></span><br>
						</th:block>
					</td>
			</tr>
		
			</table>
			<form method="post" action="Zelje">
									
									
									<input th:value="${trening.id}"  name="treningId"  type="hidden"/>
									
									<input th:value="${session.prijavljeniKorisnik.id}" name="korisnikId" type="hidden"  />
									
									
									
									<input type="submit" value="Dodaj u listu zelja"/>
									
								</form>
			
		<ul>
		<li th:if="${session.prijavljeniKorisnik !=null and session.prijavljeniKorisnik.administrator}"><a href="Treninzi/Create">Dodavanje nove knjige</a></li>
		</ul>
		
		<form method="post" action="Treninzi/DodavanjeKomentara" th:if="${session.prijavljeniKorisnik != null and not session.prijavljeniKorisnik.administrator and zakazan==true }">
				<input type="hidden" name="autorKomentara" th:value="${session.prijavljeniKorisnik.id}"/>
				<input type="hidden" name="komentarisanTrening" th:value="${trening.id}" />
					
				<table class="forma">
					<caption>Dodavanje komentara</caption>
					
					<tr><th>Tekst komentara:</th><td><textarea type="text"  name="tekst"></textarea></td></tr>
					<tr><th>Ocena treninga:</th><td>  <input name="ocena" type="number" min=1 max=5 onkeyup="if(this.value<0){this.value= this.value * -1}" oninput="if(this.value>5){this.value=5}"/></td></tr>
					<tr><th>Anonimno:</th><td><input type="checkbox" name="anoniman"/></td></tr>
					
					<tr><th></th><td><input type="submit" value="Dodaj komentar"/></td></tr>
					
				</table>
		</form>
</div>
 <div>
		                <div >
		                    <h3>Komentari:</h3>
		                    
		                    <table class="komentari1" id="komentari"  >
							
							<tr>
								
									<ul>
										
									</ul>

								</tr>
							</table>
							
		
		
		                   </div>
		            </div>
		             <p class="greska"></p>
		           
							
<div class="tabela">
	
			<table id="tabela">
				<caption>Termini za trening</caption>
				<tr>
					<th >R. br.</th>
					<th >Naziv treninga</th>
					<th >Oznaka sale</th>
					<th >Datum i vreme odrzavanja</th>
					<th >Zakazi</th>
					
					<th></th>
				</tr>
				<tr>
					
				<tr th:each="itTermin, status: ${terminiTrening}">
				
					<td class="broj" th:text="${status.index+1}"></td>
					<td  th:text="${itTermin.trening.naziv}"></td>
					<td th:text="${itTermin.sala.oznaka}"></td>
					<td th:text="${itTermin.datum}"></td>
					<td> <a th:href="|Korpa/Details?id=${itTermin.id}|">DODAJ U KORPU</a> </td>
				</tr>
			</table>
	
	</div>
	  <script src="js/jquery.min.js"></script>
     <script src="js/jquery-3.0.0.min.js"></script>
     
	<script src="js/sviKomentari.js" type="text/javascript"></script>
	  <script src="js/dodavanjeKomentara.js" type="text/javascript"></script>
</body>
</html>