<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>

<title>Lista zelja</title>
</head>

<div>
<form>
			<table class="forma">
			<tr>
					<th>Redni broj</th>
					<th >Naziv treninga</th>
					<th>Cena </th>
					<th>Obrisi iz liste zelja</th>
				</tr>

				<tr th:each="itZelje, status: ${zelje}">
					<td class="broj" th:text="${status.index+1}"></td>
					<td><a th:href="|Treninzi/Details?id=${itZelje.trening.id}|" th:text="${itZelje.trening.naziv}"></a></td>
					<td  class="broj" th:text="|${itZelje.trening.cena} rsd|"></td>
					<td>
					<form method="post" action="Zelje/Delete">
									
									
									<input th:value="${itZelje.id}"  name="zeljeId"  type="hidden"/>
									
									<input th:value="${session.prijavljeniKorisnik.id}" name="korisnikId" type="hidden"  />
									
									
									
									<input type="submit" value="Obrisi iz zelja"/>
									
								</form>
					
					</td>
				</tr>
				</table>
				</form>
			<form action="Zelje/Delete" ></form>
		</div>
		<ul>
		<li><a href="Treninzi" >Povratak na sve treninge</a></li>
	</ul>
</body>
</html>